Source: crashmail
Section: mail
Priority: optional
Maintainer: Robert James Clay <jame@rocasa.us>
Standards-Version: 4.1.5
Build-Depends: debhelper (>= 9.20151219), dpkg-dev (>= 1.16.1~)
Homepage: http://ftnapps.sourceforge.net/crashmail.html
Vcs-Browser: https://sourceforge.net/p/ftnapps/crashmail/code/ci/debian/tree
Vcs-Git: https://git.code.sf.net/p/ftnapps/crashmail/code -b debian

Package: crashmail
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: zip, unzip, unar, goldedplus | jamnntpd
Description: JAM and *.MSG capable Fidonet tosser
 CrashMail II is basically a more portable version of
 CrashMail, a tosser for Amiga computers. Users of the old
 Amiga version will probably find some things familiar
 while some features are gone such as the ARexx port (for
 obvious reasons!) and the GUI configuration editor. The
 only feature that CrashMail II has and the old CrashMail
 hasn't is support for JAM messagebases.
